<header>
    <ul class="menu">
        <li> 
            <a href="/main" class="a_menu">Главная</a> 
        </li>
        <li>
            <a href="/notebook" class="a_menu">Моя записная книжка</a> 
        </li>
        <li>
            <a href="/debt" class="a_menu">Добавить долг</a> 
        </li>
    </ul>
    <div class="user__info">
        <a class="user__name">
            {{nameAuth}}
        </a>
        <div class="user__foto">
            <img src="/IMG/user__foto.png" alt="foto" class="img">
        </div>
    </div>
 </header>