*{
  margin:0;
  padding: 0;
}
body{background-color: #0C0C0C;}
.main__div{
  margin: 0 auto;
  min-height: 100vh;
  width: 1280px; 

  border: 3px solid white;
}
header{
    height: 70px;
    display: flex;
    border-bottom: 3px solid white;
    align-items: center;
    position: relative;
}
.menu{
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 77px;
}
.menu>li{
    display: flex;
}
.menu>li + li{
    margin-left: 60px;
}
.a_menu{
    font-family: 'Anonymous Pro', cursive;
    font-size: 30px;
    text-decoration: none;
    color:white;
}
.like{
    margin-left: 30px;
    background-color: #7A7A7A;
    color: white;
    height: 40px;
    width: 80px;
  
    border-radius: 10px; 
    border: none;
    font-family: 'Anonymous Pro', cursive;
    font-size: 20px;
    outline:none;
}
.like:hover{background-color: #5c5c5c;}
.like:active{ background-color: #525252;}
.a_menu:hover{color:rgb(207, 207, 207)}
.user__info{
    display:flex;
    align-items: center;
    position: absolute;
    right: 40px;
}

.user__name{
    font-family: 'Anonymous Pro', cursive;
    font-size:30px;
    text-decoration: none;
    color:white;

    cursor: pointer;
}
.img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.user__name + .user__foto{
    margin-left: 27px;
}
.user__name:hover{color:rgb(207, 207, 207)}
.user__foto{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #C4C4C4;
}
.div__alerts{
    margin-left:196px;
    margin-top: 61px;
}
.div__alerts>h1{
    color:white;
    font-family: 'Anonymous Pro', cursive;
    font-size:37px;

    margin-bottom: 13px;
}
.alert{
    color:white;
    font-family: 'Anonymous Pro', cursive;
    font-size:31px;
}
.alert+.alert{
    margin-top:11px;
}