<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Проект : Долги : Регистрация</title>
    <link href="/STYLE/sing_up.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main__div">
        <div class="sing_up">
            <form method="POST" id="sing_up__form" onsubmit="return validateForm(this);"></form>
            <h1> Регистрация </h1>

            <div id="email__error" class="text error">Введите email</div>
            <input name="email" class="input__sing_up" type="email" placeholder="Email" form="sing_up__form">

            <div id="name__error" class="text error">Введите имя</div>
            <input name="name" class="input__sing_up" type="text" placeholder="Имя" form="sing_up__form">

            <div id="pass__error" class="text error">Введите пароль</div>
            <input name="password" id="pass" class="input__sing_up" type="password" placeholder="Пароль" form="sing_up__form">

            <div class="info__box">
                <input type="checkbox" id="check" onclick="show_password();">
                <p class="checkbox__text">Показать пароль</p>
                <a href="/sing_in" class="reg">Вход</a>
			</div>
			<button class="input__sing_up button__sing_up" type="submit" form="sing_up__form">Зарегистрироваться</button>
            </div>
        </div>

        <script src="/JS/sing_up.js"></script>
</body>

</html>